.wrapper {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 80px 0;

  .title {
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
  }

  .items {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    row-gap: 30px;
    column-gap: 30px;
    align-self: center;

    @media screen and (min-width: 700px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }
}