.wrapper {
  max-width: 1180px;
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding: 80px 0;

  .title {
    max-width: 780px;
    margin: 0 auto;
    text-align: center;
  }

  .form {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 30px;

    @media screen and (min-width: 700px) {
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .btnWrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 40px;
  }
}

.phoneInput {
  display: flex;
  align-items: center;

  .select {
    border: 1px solid var(--gradient-main, #18C8FF);
  }

  input {
    border-radius: 10px;
    border: 1px solid var(--gradient-main, #18C8FF);
    padding: 16px 20px;
    background: transparent;
    color: #18C8FF;
    box-shadow: 0px 2px 2px 0px rgba(255, 255, 255, 0.15) inset, 0px 0px 30px 0px rgba(255, 255, 255, 0.05) inset;
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
  }
}